<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ events.title.rendered }}</title>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="manifest" href="/blog/assets/manifest.json" />
    <script>
      // Only register the service worker when not on localhost.
      if (location.hostname !== 'localhost' && 'serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/js/service-worker.js');
        });
      }
    </script>
  </head>
  <body class="{{pageType}}">
    {% include "partials/header.njk" %}
    {% if subtitle %}
      {% include "partials/subheader.njk" %}
    {% endif %}
    <main>
      <div class="content">
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>