---
layout: layouts/base.njk
title: Connect
subtitle: Connect
---
<a href="#">{{ "/src/img/icons/instagram.svg" | svgContents | safe }}</a>
<a href="#">{{ "/src/img/icons/facebook.svg" | svgContents | safe }}</a>
<a href="#">{{ "/src/img/icons/spotify.svg" | svgContents | safe }}</a>
<a href="#">{{ "/src/img/icons/microphone.svg" | svgContents | safe }}</a>