---
layout: layouts/base.njk
title: SELAH Devos
subtitle: SELAH
pageType: app
---
<div class="header">
  <img src="/img/SelahAppIcon.png" />
  <div class="store-buttons">
    <img src="/img/ButtonAppleStore.png" />
    <img src="/img/ButtonGooglePlay.png" />
  </div>
</div>
<h2>{{title}}</h2>
<h3>by Christ in Youth</h3>
<p>Selah is a personal devotion experience brought to you by Christ in Youth Æffect. Designed for Kingdom workers looking to set aside time each day to stop, exhale, look, ask, and hear the word, Selah exists to spark the habit of conversing with God. Each experience series is a week long, helping you integrate prayer and scripture into your mobile life. Choose from a growing library of topical and Biblical meditations and start a conversation with God today.</p>

