.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(10,100px);
  gap: 1rem;
}

.menu li {
  background-color: rgba(0,0,0,0.25);
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  font-size: 10px;
  text-align: center;
}